# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on: push


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Download
        run: wget http://ftpmirror.gnu.org/gnu/gcc/gcc-10.2.0/gcc-10.2.0.tar.gz 

      - name: Extract
        run: tar xzf gcc-10.2.0.tar.gz gcc

      - name: COnfigure and build
        run: |
          mkdir build
          cd build
          ../gcc/configure --disable-bootstrap --enable-languages=c,c++
          make -j

     - uses: actions/upload-artifact@v2
       with:
         name: built-gcc
         path: build

