# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on: push


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Download
        run: wget http://ftpmirror.gnu.org/gnu/gcc/gcc-10.2.0/gcc-10.2.0.tar.gz 

      - name: Extract
        run: tar xzf gcc-10.2.0.tar.gz

      - name: Install dependencies
        run: sudo apt install libmpfr-dev libmpfr6 libgmp-dev libgmp10 libmpc3 libmpc-dev libisl-dev libisl22

      - name: Configure and build
        run: |
          mkdir build
          cd build
          ../gcc-10.2.0/configure --disable-bootstrap --enable-languages=c,c++ --disable-multilib
          make -j 8

      - uses: actions/upload-artifact@v2
        with:
          name: built-gcc
          path: build

